{# app/Resources/views/Emails/registration.html.twig #}
<h3>Hi,</h3>
<h4>Your pending products</h4>
<ul>
    {% for product in products %}
        <li>{{ product.name|e }}</li>
    {% endfor %}
</ul>
