{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
{% block body %}
     <div style="width:40%;margin:auto auto">
    <h1>Product edit</h1>
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn" type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    
            <a href="{{ path('product_index') }}">Back to the list</a>
        
            {{ form_start(delete_form) }}
                <input class="btn" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        
</div>
{% endblock %}
