{% extends 'base.html.twig' %}

{% block body %}

    <div style="width:90%;margin:auto auto">
    <h1>Products list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Issn</th>
                <th>Name</th>
                <th>Status</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'issn': product.issn }) }}">{{ product.issn }}</a></td>
                <td>{{ product.name }}</td>
                <td>{{ product.status }}</td>
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if product.deletedAt %}{{ product.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'issn': product.issn }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'issn': product.issn }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new product</a>
        </li>
    </ul>
</div>
{% endblock %}
