{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div style="width:40%;margin:auto auto">
    <h1>Product creation</h1>
    
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn" type="submit" value="Create" />
    {{ form_end(form) }}
    <a href="{{ path('product_index') }}">Back to the list</a>
    </div>
{% endblock %}
