{% extends 'base.html.twig' %}

{% block body %}
<div style="width:40%;margin:auto auto">
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Issn</th>
                <td>{{ product.issn }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ product.status }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if product.deletedAt %}{{ product.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product_edit', { 'issn': product.issn }) }}" class="btn">Edit</a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
